$font-stack-body: "Lato", sans-serif;
$font-stack-header: "Lato Heavy", sans-serif;
$basic-font-size: 12pt;

$top-background-color: darkgreen;

$link-color: darkgreen;

$button-color: darkgreen;
$button-text: white;

$code-color: darkgreen;
$code-background-color: #F0F0F0;

$buttonHoverLightenAmount: 10;

$borderRadius: 0.25rem;