@font-face {
  font-family: "Lato Regular";
  src:
      local('Lato Regular'),
      url('../font/Lato-Regular.ttf');
}

@font-face {
  font-family: "Lato Heavy";
  src:
      local('Lato Heavy'),
      url(../font/Lato-Heavy.ttf)
}

@font-face {
  font-family: "Lato Hairline";
  src:
      local('Lato Hairline'),
      url(../font/Lato-Hairline.ttf)
}