@import 'globalScheme';

body {
  font-family: $font-stack-body;
  font-size: $basic-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-header;
}

h1, h2 {
  color: white;
}

h3 {
  font-size: 2.6em;
  margin-bottom: 0.7em;
}

h4 {
  font-size: 1.4em;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

code {
  font-family: monospace;
  color: $code-color;
  background-color: $code-background-color;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

pre {
  font-family: monospace;
}

p {
  margin-bottom: 0.68em;
}

ul {
  list-style-type: square;
  margin-left: 3em;
  margin-bottom: 0.68em;
}

p + ul {
  margin-top: -0.68em;
}

li {
  padding-top: 0.4em;
}

dt {
  font-size: 1.1em;
  font-weight: bold;
}

dd {
  margin-left: 3em;
  margin-bottom: 0.68em;
}

a {
  text-decoration: none;
  color: $link-color;
}