.previousNextLinks {
  display: block;
  width: calc(100% - 2 * 0.4rem);
  margin-top: 1.6rem;
  background-color: #F0F0F0;
  border-radius: 0.25em;
  padding: 0.4rem;
  
  .previous {
    display: inline-block;
    width: 50%;
    text-align: left;
  }

  .next {
    display: inline-block;
    width: 50%;
    text-align: right;
  }
}