@import "buttonSkin";
@import "topSpacing";

$downloadButtonColor: forestgreen;
$downloadButtonColorHover: lighten($downloadButtonColor, 10%);
$githubButtonColor: brown;
$githubButtonColorHover: lighten($githubButtonColor, 10%);

$buttonsPadding: 1rem;

.topSide a {
  @include buttonSkin;
  display: flex;
  align-items: center;
  padding: $buttonsPadding;
  width: calc(100% - 2 * 0.5em);
  height: ($buttonsHeight - 2 * $buttonsPadding);
  margin-bottom: $buttonsSpaceBetween;
  color: white;
  .fa {
    font-size: 2rem;
    padding-right: 1rem;
  }
}

.topSide a.download {
  background-color: $downloadButtonColor;
  border-color: $downloadButtonColor;
  color: white;
}

.topSide a.download:hover {
  background-color: $downloadButtonColorHover;
  border-color: $downloadButtonColorHover;
  color: white;
}

.topSide a.github {
  background-color: $githubButtonColor;
  border-color: $githubButtonColor;
  color: white;
}

.topSide a.github:hover {
  background-color: $githubButtonColorHover;
  border-color: $githubButtonColorHover;
  color: white;
}